#Copy this file as .env and fill the values
#cp .env.example .env

#PostgreSQL DB
DB_USERNAME=dijon
DB_PASSWORD=dijon

# WT — generate a save value with: openssl rand -base64 32
JWT_SECRET=change-this-in-production-at-least-32-characters

#OpenAgenda — get your key in https://openagenda.com/signin
OPENAGENDA_API_KEY=here_your_api_key

#UID of the agenda of Dijon — search in the side bar of the agenda in openagenda.com
#Example: https://openagenda.com/dijon-metropole
OPENAGENDA_DIJON_UID=tu_agenda_uid_aqui